extends base

block content
  .d-flex
    .container-fluid.p-3.m-4
      .display-5.my-3 Your resolutions:
      .list-group.my-4(style='height: 400px; overflow-y: auto')
        -if (resolutions.length !== 0)
          each resolution in resolutions
            .list-group-item.py-3
              p.mb-1=resolution.doctorName
              p.mb-1=resolution.specialization
              p.mb-1=resolution.resolution
              small=resolution.createdAt.toLocaleString('en-us')
        -else 
          small You do not have any resolutions.
