extends base

block content
  .d-flex
    .container-fluid
      .row.justify-content.p-5.m-4.d-flex.justify-content-center
          .col-md-4.text-center.text-md-start
            form#signup-form
              .mb-3
                label.form-label(for='inputEmail') Email address
                input#inputEmail.form-control(type='email', placeholder='admin@gmail.com', required)
              .mb-3
                label.form-label(for='inputPassword') Password
                input#inputPassword.form-control(type='password', placeholder='12345678', required, minlength='8')
              .mb-3
                label.form-label(for='inputPasswordConfirm') Confirm Password
                input#inputPasswordConfirm.form-control(type='password', placeholder='12345678', required, minlength='8')
              .mb-3
                .border-top 
              .mb-3
                label.form-label(for='inputName') Name
                input#inputName.form-control(type='text', placeholder='Aleksei', required)
              .mb-3 
                label.form-label(for='inputGender') Gender
                select#inputGender.form-select(aria-label='-- select --')
                  option(selected='') -- select --
                  option(value='male') Male
                  option(value='female') Female
                  option(value='non-binary') Non-binary
              .mb-3 
                .form-group
                label.form-label(for='inputBirthday') Birthday
                input#inputBirthday.form-control(name='date' placeholder='DD-MM-YYYY' type='text')

              button.btn.btn-dark(type='submit') Submit